<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee form</title>
</head>
<body>
    <div>
        <form action="/emp/add" method="POST">
        <label for="">name</label>
        <input type="text" name="name" required><br>
         <label for="">address</label>
        <input type="text" name="address" required><br>
         <label for="">email</label>
        <input type="text" required name="email"><br>
         <label for="">phone</label>
        <input type="text" name="phone"><br>
        <input type="submit" value="create">
        </form>
    </div>
</body>
</html>